<h1>健康は、仲間と一緒に手に入れよう。</h1>

<p>FREloは、一緒に運動や食事を楽しんでシェアする「バディ」に出会えるSNSです。test</p>


<%= link_to "新規登録", new_user_registration_path, class: "btn btn-sm btn-success" %>

<%= link_to "ログイン", new_user_session_path, class: "btn btn-sm btn-success" %>